@import "./setting.scss";

* {
  font-family: "webfont";
  color: $font-color;
}

ul {
  li {
    color: $ham-color;
  }
}

.app-logo {
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  top: 25px;
  z-index: 10;
}

img {
  width: 40vw;
  position: absolute;
  right: 10px;
  bottom: 0px;
}
